<div class="page-header">
  <h1>Mallory Furniture</h1>
</div>


<div class="jumbo">
  <div class="littlebox">
    <p>Not Too Shabby....</p>
    <p>
      <%= link_to 'Check Out Our Products', products_path, :class => "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
