@import "bootstrap-sprockets";
@import "bootstrap";

@import 'https://necolas.github.io/normalize.css/3.0.3/normalize.css';

.home-back {
  ul {
    position: fixed;
    top: 0;
    right: 0;
    li {
      padding: 0;
      list-style: none;
      margin: 0;
        .glyphicon-home {
          background-color: #2D9D86;
          color: white;
          padding: 16px;
          font-size: 20px;
        }
        .glyphicon-arrow-left {
          background-color: #7C0808;
          color: white;
          padding: 16px;
          font-size: 20px;
        }
    }
  }
}


.page-header {
  color:#ffffff;
  width: 100%;
  margin-top:20px;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:10px;
  background-color:#293D52;
  font-size:28px;
  font-weight:lighter;
  font-family:book antiqua;
  text-align:center;
}



nav {
  position: relative;
}

nav span {
  position: absolute;
}

.jumbo {
  height: 100vh;
  border: 1px solid #000000;
  background: image_url("hero.jpg");
  background-size: cover;
  background-position: center;



  .littlebox {
    float: right;
    margin-top: 45vh;
    margin-right: 50px;
    padding: 5px;
    border-radius: 5px;
    color: coral;
    font-size: 250%;
    a {
      display: block;
      text-align: center;
    }
  }
}
